<html>
	<head>
	<meta charset="UTF-8"/>
		<title>Multicores Formatura</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
		<!-- sweetalert inicio -->
		<link rel="stylesheet" type="text/css" href="/css/sweetalert.min.css"/>
    <!-- sweetalert fim -->
	</head>
	<body>
		<div id="app">
			<div th:replace="fragments/header :: header"></div>
			<div>
			  <ol>
			    <li v-for="todo in result">
			      {{ todo.nome }}
			      {{ todo.valor }}
			      <button type="submit" class="btn btn-primary btn-lg pull-right" v-on:click="removerProduto(todo)">
			      Deletar
			      </button>
			      <button type="submit" class="btn btn-primary btn-lg pull-right" v-on:click="alterarProduto(todo.id)">
			      Alterar
			      </button>
			    </li>
			  </ol>
			</div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	
	</body>
	
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="js/componentes.js"></script>
    <script type="text/javascript" src="js/produto.js"></script>
    <script type="text/javascript" src="js/sweetalert.min.js"></script>
    
</html>
