<form th:fragment="user-form">
	<div class="form-group">
		<div class="row">
			<fieldset class="col-md-4">
				<legend>Dados Pessoais</legend>
				
				<div class="form-group">
                              <label for="nome">Nome</label>
                              <input v-model="user.nome" type="text" class="form-control" id="nome" name="nome" autofocus="true"/>
                        </div>
                        
                        <div class="form-group">
                              <label for="sobrenome">Sobrenome</label>
                              <input v-model="user.sobrenome" type="text" class="form-control" id="sobrenome" name="sobrenome"/>
                        </div>
                        
                        <div class="form-group">
                              <label for="endereco">Endereço</label>
                              <input v-model="user.endereco" type="text" class="form-control" id="endereco" name="endereco"/>
                        </div>
                        
                        <div class="form-group">
                              <label for="cpf">CPF</label>
                              <input v-model="user.cpf" type="text" class="form-control" id="cpf" name="cpf"/>
                        </div>
                        
                        <div class="form-group">
                              <label for="validade">Data de Nascimento</label>
                              <input v-model="user.validade" type="text" class="form-control datepicker" id="validade" name="validade"/>
                        </div>
                        
			</fieldset>
			
			<fieldset class="col-md-4">
				<div class="form-group">
                              <label for="nomePai">Nome do Pai</label>
                              <input v-model="user.nomePai" type="text" class="form-control" id="nomePai" name="nomePai"/>
                              
                              <label for="nomeMae">Nome da Mãe</label>
                              <input v-model="user.nomeMae" type="text" class="form-control" id="nomeMae" name="nomeMae"/>
                        </div>
                        
                        <div class="form-group">
                              <label for="instituicaoEnsino">Instituição de Ensino</label>
                              <input v-model="user.instituicaoEnsino" type="text" class="form-control" id="instituicaoEnsino" name="instituicaoEnsino"/>                                  
                        </div>
			</fieldset>

		<fieldset class="col-md-4">
			<legend>Dados Cadastrais</legend>
			
			<div class="form-group">
                             <label for="email">Email</label>

                             <div class="input-group">
                               	   <span class="input-group-addon">@</span>
                           	       <input v-model="user.email" type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com"/>
                       	     </div>
                       	     O email será usado para se autenticar.
                       	</div>
                       	
                       	<div class="form-group">
                              <label for="senha">Senha</label>
                              <input v-model="user.senha" type="password" class="form-control" id="senha" name="senha"/>
                        </div>
		</fieldset>
		<button type="submit" class="btn btn-primary btn-lg pull-right" v-on:click="cadastrar($event)">
                  		{{btnAcao}}
            		</button>
		</div>
		
            {{result}}
	</div>
	
</form>